.popup__text-field {
    font-family: "Inter", sans-serif, serif;
    margin: 0;
    border: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 8px;
    outline: none;
}
.popup__text-field::placeholder {
    font-family: "Inter", sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 554px) {
    .popup__text-field {
        min-width: 238px;
    }
}