.header__logo {
    max-width: 142px;
}

@media screen and (max-width: 886px) {
    .header__logo {
        padding-left: 10px;
    }
}

@media screen and (max-width: 540px) {
    .header__logo {
        max-width: 103px;
        padding-left: 27px;
    }
}