.profile__add-button{
    max-width: 150px;
    min-height: 50px;
}

.profile__add-button:hover {
    opacity: 0.6;
}


@media screen and (max-width: 320px) {
    .profile__add-button{
        max-width: 282px;
    }
}
