.popup__text-field-error {
    visibility: hidden;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    max-width: 358px;
}

@media screen and (max-width: 554px) {
    .popup__text-field-error {
        min-width: 238px;
        max-width: 239px;
    }
}