.popup-card__submit-button {
    margin-top: 32px;
    min-height: 50px;
    background-color: #000000;
    font-family: "Inter", sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.popup-card__submit-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 554px) {
    .popup-card__submit-button {
        min-height: 46px;
        margin-top: 30px;
        min-width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}