.popup__close-button {
    z-index: 2;
    position: absolute;
    right: -40px;
    top: -40px;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .popup__close-button {
        right: 0px;
        top: -36px;
    }
}