.profile__job {
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-family: "Inter", sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-right: 2px;
}

@media screen and (max-width: 320px) {
    .profile__job {
        align-self: start;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-bottom: 20px;
    }
}