.card {
    position: relative;
    margin: 0 auto 0;
    max-width: 282px;
    background-color: white;
    display: grid;
    grid-column: auto auto;
    grid-template-rows: 3fr auto;
    border-radius: 10px;
}